.cabezaTabla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
    border-top-left-radius:9px;
    border-top-right-radius: 9px;
    background-color: #f8f8fb;
    margin-top: 20px;
}

.textoEncabezadoTabla{
    font-weight: bold;
}

.contenidoTabla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #d2d2d2;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.botonEditar {
    background-color: #f2f2fd;
    padding: 13px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.botonEditar:hover {
    scale: calc(1.03);
}

.botonEliminar {
    background-color: orange;
    padding: 13px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.botonEliminar:hover {
    scale: calc(1.03);
}

@media (max-width:768px) {
    .contenidoTabla{
        display: flex;
        flex-direction: column;
    }

    .cabezaTabla{
        display: none;
    }
}